<h4>Champions les plus utilisés</h4>



<div class="container">
  <div class="row">
    <div class="col">
      <canvas baseChart [datasets]="mostPlayed" [labels]="labels.mostPlayed" chartType="bar"></canvas>
    </div>
  </div>
</div>

<hr>

<h4>Niveau moyen selon place</h4>



<div class="container">
  <div class="row">
    <div class="col">
      <canvas baseChart [datasets]="levelAverage" [labels]="labels.levelAverage" chartType="bar"></canvas>
    </div>
  </div>
</div>


<h4>Compos les plus utilisés (tier max)</h4>



<div class="container">
  <div class="row">
    <div class="col">
      <canvas baseChart [datasets]="mostPlayedComp" [labels]="labels.mostPlayedComp" chartType="bar"></canvas>
    </div>
  </div>
</div>



<h4>Champions les plus joués 3 étoiles (tier max)</h4>



<div class="container">
  <div class="row">
    <div class="col">
      <canvas baseChart [datasets]="mostPlayedChampByCost" [labels]="labels.mostPlayedChampByCost" chartType="bar"></canvas>
    </div>
  </div>
</div>






<h4>Items les plus présents </h4>

<p> Indique souvent des stratégies</p>

<div class="container">
  <div class="row">
    <div class="col">
      <canvas baseChart [datasets]="mostItemPicked" [labels]="labels.mostItemPicked" chartType="bar"></canvas>
    </div>
  </div>
</div>